/* custom propietes= propiedad personalizadas o variables de css */
:root {
  --blanco: #ffffff;
  --oscuro: #212121;
  --primarios: #ffc107;
  --secundario: #0097a7;
  --gris: #757575;
  --gris_claro: #dfe9f3;

  --fuente-principal: 3.8rem;
}
/* codigo ordenado segun MODULOS (no BEM, no Utility First) */

/* unificamos que el 100% del tamaño de las letras de todo el HTML*/

/* contacto */
.formulario {
  background-color: var(--gris);
  padding: 2rem;
  border-radius: 10px;

  /**opcion 'B'**/
  /*background-color: var(--gris);
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;*/
}

.formulario fieldset {
  border: none;
}
.formulario legend {
  /*text-align: center;
    font-size: 1.2rem;
    color: var(--primarios);
    margin-bottom: 2rem;
    display: block;
    text-transform: uppercase;
    font-weight: 700;*/

  /**opcion 'B'**/
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--primarios);
}
@media (min-width: 768px) {
  .formulario {
    max-width: 800px;
    margin: 0 auto;
  }
}
.campo {
  margin-bottom: 1rem;
  width: 100%;
}
@media (min-width: 480px) {
  .campo {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .campo {
    flex: 0 0 calc(50% - 0.5rem);
  }
}
.campo label {
  color: var(--blanco);
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
@media (min-width: 480px) {
  .campo label {
    flex: 0 0 90px;
  }
  .campo input[type="text"],
  .campo input[type="tel"],
  .campo input[type="mail"],
  .campo textarea {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    height: 4rem;
  }
  .input_text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
  }
  @media (min-width: 768px) {
    :is(.campo)
      :is(input[type="text"], input[type="text"], input[type="tel"], input[type="mail"], textarea) {
      flex: 1;
    }
  }


  /**section clientes**/
  main > section > img {
    width: 12vw;
    height: 18vh;
    margin: 3rem 1rem;
  }
  section {
    display: flex;
    flex-direction: row;
  }
  .contenedor-clientes {
    width: 98vw;
    height: 80vh;
    margin-top: 5vh;
    border: 0.2rem;
    background-color: var(--primarios);
    color: var(--blanco);
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 50% 50%;
    justify-content: space-evenly;
  }
  .clientes {
    width: 25vw;
    border: 0.2rem;
    margin: 2rem;
    color: var(--oscuro);
  }
  .lorena {
    background-image: url(../img/fondoLorena.jpg);
  }
  p:hover {
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
  }
  .luanda {
    background-image: url(../img/fondoLuanda.jpg);
  }
  .victor {
    background-image: url(../img/fondoVictor.jpg);
  }
  .adom {
    background-image: url(../img/fondoAdom.jpg);
  }
  .lixi {
    background-image: url(../img/fondoLixi.jpg);
  }
  .gahl {
    background-image: url(../img/fondoGahl.jpg);
  }
  .palabras {
    font-size: 2.4rem;
    text-transform: uppercase;
    background-color: var(--gris_claro);
    text-align: center;
    padding: 2rem;
  }
  .marcas {
    width: 70vw;
    height: 80vh;
    margin-left: 25rem;
    margin-bottom: 10rem;
  }
}


/********************************************************************************/
/**seccion e-commerce con bootstrap-example (product) y styles.css*/
.header {
  background-color: var(--primarios);
}
.e-commerce {
  font-size: 3.8rem;
}
.click-here {
  font-size: medium;
}
.notebook-bolsas {
  width: 50rem;
}
.movil {
  margin-top: 1rem;
  width: 30rem;
}
.background {
  background-image: url(../img/Comercio-electrónico.jpg);
}
.tablet {
  background-image: url(../img/Pegaso-Tecnología.jpg);
}
.paga-celular {
  background-image: url(../img/escanea\ y\ paga\ con\ tu\ celular.png);
}
.e-commerce-principal {
  height: 40rem;
  width: 130rem;
}
#boton-ecommerce {
  width: auto;
  height: auto;
  font-size: medium;
  font-weight: bold;
  color: black;
  background-color: var(--primarios);
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}
#boton-ecommerce:hover {
  color: #757575;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.footer-diseño2 {
  margin-left: 40%;
}
@media (max-width: 480px) {
  .e-commerce-principal {
    height: 20rem;
    width: 30rem;
  }
  .footer-diseño2 {
    font-size: 1.2rem;
    margin-left: 1rem;
  }
  #boton-ecommerce:hover {
    display: none;
    color: #757575;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .e-commerce-principal {
    height: 25rem;
    width: 40rem;
  }
  .footer-diseño2 {
    font-size: 1.4rem;
    margin-left: 2rem;
  }
}
@media (min-width: 769px) and (max-width: 1200px) {
  .e-commerce-principal {
    height: 30rem;
    width: 70rem;
  }
  .footer-diseño2 {
    font-size: 1.5rem;
  }
}

/********************************************************************************/
/**seccion aplicaciones moviles con bootstrap-example (carousel) y styles.css*/
.img-circular{
  width: 33%;
  height: 50%;
  border: #212121 solid .2rem;
}
.ios-android{
  width: 100%;
}
.gap{
  border-right: .5rem solid beige;
}


