.posicion {
    font-size: large;
    font-weight: bold;
    width: 20%;
    height: 6rem;
    margin-left: 10rem;
  }
  .here {
    font-size: 1rem;
    margin-left: 1rem;
  }
  .contenedor-image img {
    width: 90%;
    height: 75%;
    margin: 5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  .contenedor-general {
    background-color: aqua
  }
  .contenedor-image {
    max-width: 60%;
  }
  .contenedor-palabras {
    line-height: 1.5;
    padding-top: 4rem;
    margin: 2rem;
  }
  .deMi {
    color: var(--oscuro);
    font-family: var(--fuente-principal);
    font-size: 3rem;
    padding: 1rem;
    margin: 0;
  }
  
  .deMi-footer {
    position: absolute;
    left: 70rem;
  }
  .contenedor-image img {
    width: 100%;
    height: 75%;
    margin: 5rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }
  @media (min-width: 1400px) {
    .contenedor-general {
      background-color: aqua;
      display: grid;
      grid-template-columns: repeat(2, auto);
    }
  }
  @media (min-width: 320px) and (max-width: 624px) {
    .contenedor-image img {
      width: 130%;
    }
    .deMi {
      color: var(--oscuro);
      font-family: var(--fuente-principal);
      font-size: 3rem;
      padding: 1rem;
      margin-top: 4rem;
    }
  }
  @media (min-width:621px)and(max-width:624px){
    .deMi{
      margin-top: 0;
    }
  }
  .contenedor-image {
    max-width: 60%;
  }
  .contenedor-palabras {
    line-height: 1.5;

    padding-top: 4rem;
  }
  .marquee{
    color: black;
  }
  .deMi-footer {
    left: 15rem;
  }
  

  