//puro scss
/*scss traspiling al css*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
  }
  /*Poul Irish*/
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  #background-title{
    background-color: #f5f6f8;
  }

//variables
$color-p: rgb(48, 47, 47);
$color-hover: white;
p{
    color: $color-p;
}
strong{
    color: $color-p;

    &:hover{
        color: $color-hover;
    }
}

//@import
@import"font";
@import"variables";
@import"selectores";
@import"clases";
@import"sobreMi";
@import"diseño";
@import"script";



//responsive
@media (max-width: 1600px) { 
    .botonWhatsApp img{
      position: static;
    }
}

@media (min-width: 480px) and (max-width: 1044px) {
  .marcas {
    width: 50%;
    height: auto;
    margin-left: 15rem;
   } 
}
@media (min-width: 1044px) and (max-width: 1650px) { 
  .contenedor-clientes {
    width: 100vw;
    height: 200vh;
    margin-top: 5vh;
    border: 0.2rem;
    background-color: var(--primarios);
    color: var(--blanco);
    display: grid;
    grid-template-columns: 25% 25%;
    grid-template-rows: 30% 30% 30%;
    justify-content: space-evenly;
  }
  .clientes{
    width: 120%;
    height: auto;
    font-size: 1.5rem;
  }
  main > section > img {
    width: 15vw;
    height: 25vh;
    margin: 3rem 1rem;
}
}

@media (min-width: 480px) and (max-width: 1043px) { 
  .contenedor-clientes {
    width: 100vw;
    height: 360vh;
    margin-top: 5vh;
    border: 0.2rem;
    background-color: var(--primarios);
    color: var(--blanco);
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 15% 15% 15% 15% 15% 15%;
    justify-content: space-evenly;
  }
  .clientes{
    width: 120%;
    height: auto;
    font-size: 1.5rem;
  }
  main > section > img {
    width: $ancho/2; /*operador importado de sub carpeta _script.scss*/
    height: 20vh;
    margin: 3rem 1rem;
    
}
.em{
  color: #f5f6f8;
}
}










